body {
	text-align: center;
}


h1 {
	text-align: center;
	vertical-align: middle;
	width: 100%;
	font-size: 70px;
	font-family: georgia;
}


img {
	text-align: left;
}


h2 {
	font-family: Book Antiqua;
	text-align: center;
}


p {
	text-align: left;
	color: black;
	font-size: 20px;
}


a {
	text-align: center;
	text-decoration: none;
	color: lightblue;
	font-size: 20px;
	font-family: georgia;
	text-align: center;
	padding: 40px;
}


