body {
	text-align: center;
}

h1 {
	text-align: center;
	vertical-align: middle;
	width: 100%;
}

p {
	text-align: center;
}

a {
	color: lightblue;
	font-size: 20px;
	font-family: Courier New;
	text-align: center;
	padding: 40px;
  
}


